<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>ll
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1 style="text-align: center; margin-top: 30px">BENVENUTO!</h1>
      <p style="margin-top: 30px; font-size: 30px">Stai navigando in un sito Web di condivisione di ricette in cui gli utenti possono condividere e scoprire nuove ricette.</p>
        <p style="font-size: 20px"> Qui sotto sono elencate tutte le funzionalità del nostro sito:</p>
        <ul class="list-group" style="font-size: 17px">
          <li class="list-group-item">Tutte le nostre ricette sono contrassegnati da Nome, ingredienti, istruzioni per lo svolgimento, numero di porzioni, tempo stimato per l'esecuzione di essa e il livello di difficoltà</li>
          <li class="list-group-item">Inoltre tutte le ricette sono suddivise per categoria (ad esempio: dolci, primi ecc)</li>
          <li class="list-group-item">Ogni utente ha la possibilità di sfogliare le ricette già esistenti, anche tramite la ricerca del titolo di una ricetta, e nel caso volesse può anche lasciare un commento alla ricetta </li>
         <li class="list-group-item">Inoltre ogni utente può decidere se pubblicare le proprie ricette</li>
        </ul>
        <p style="font-size: 20px; margin-top: 25px">Se sei interessato a navigare nel nostro sito web ISCRIVITI o ACCEDI subito cliccando il relativo bottone qui sotto</p>
            <p style="text-align: center">
            <a href="login/" type="button" class="btn btn-primary" style="margin-left: 100px;"><b>ACCEDI!</b></a>
            <a href="iscriviti/" type="button" class="btn btn-primary" style="margin-left: 50px;"><b>ISCRIVITI!</b></a></p>
        </div>
  </body>
</html>
